body {
  font-family: "adelle";
  font-weight: 300;
  background: #16161d;
  color: white;
}

h1 {
	font-weight: 100;
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.35rem;
}
  
.jumbotron {
	background-color: #ec187c;
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
}

.wtn-image {
	padding-left: 3rem;
}

.btn {
	transition: all 0.5s ease;
	font-weight: 300;
}

.glyphicon {
	padding: 0 0.5rem;
	color: #ec187c;
}

.list-group, .list-group-item {
	background-color: #222222;
}

.event-title, .event-date {
	display: block;
	color: #aaaaaa;
	font-size: 1.4em;
	margin-bottom: 0.7em;
	
}

.logged-in {
	font-size: 1.2em;
    padding-top: 0.3em;
}

.event-description {
	display: block;
}

.event-description br {
	height: 0.8rem;
}

/*
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}*/
